html {
  font-size: 16px;
}

header {
  width: 100%;
}

main {
  flex: 1 0 auto;

  @media (min-width: 1024px) {
    margin-left: 108px;

    &.expand {
      margin-left: 220px;
    }
  }
}

footer {
  flex: 0 0 auto;
}

.body {
  font-family: $fontFamily !important;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: 1.2;
  color: $blackColor;
  overflow-x: hidden;
  height: 100%;
  min-width: 20rem;
  // font-variant-numeric: lining-nums;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: fit-content(220px) 10fr;
    grid-template-rows: 100%;
  }
}

.aside-nav {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

#default-sidebar {
  @media (min-width: 1024px) {
    display: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  // overflow: hidden;
}

*::selection {
  color: $blackColor;
  background: $accentColor;
}

// Style fix for input
.group[data-te-input-focused]
  .group-data-\[te-input-focused\]\:shadow-\[0_1px_0_0_\#3b71ca\] {
  --tw-shadow: unset;
}

// Styles for input error validation

.group[data-te-input-notch-ref] div[data-te-input-notch-leading-ref] {
  border-radius: 8px 0 0 8px;
}

.group[data-te-input-notch-ref] div[data-te-input-notch-trailing-ref] {
  border-radius: 0 8px 8px 0;
}

.group[data-te-input-notch-ref] div {
  border-color: #e5e7eb;
}

:is(.dark .dark\:border-neutral-600) {
  --tw-border-opacity: 1;
  border-color: #4b5563 !important;
}

.group[data-te-input-focused] div[data-te-input-notch-middle-ref] {
  border-top-color: transparent !important;
  border-bottom-color: #3b71ca !important;
}

.group[data-te-input-focused] div[data-te-input-notch-leading-ref] {
  border-top-color: #3b71ca !important;
  border-left-color: #3b71ca !important;
  border-bottom-color: #3b71ca !important;
}

.group[data-te-input-focused] div[data-te-input-notch-trailing-ref] {
  border-top-color: #3b71ca !important;
  border-right-color: #3b71ca !important;
  border-bottom-color: #3b71ca !important;
}

.group[data-te-input-focused].error
  .group-data-\[te-input-focused\]\:border-t-transparent {
  border-top-color: transparent !important;
}

.peer:focus ~ .peer-focus\:text-primary.error {
  --tw-text-opacity: 1;
  color: #f53e3e;
}

.group.error .group-data-\[te-input-focused\]\:border-primary {
  --tw-border-opacity: 1;
  border-color: #f53e3e !important;
}

.peer ~ .peer-focus\:text-primary.error {
  --tw-text-opacity: 1;
  color: #f53e3e;
}

// Custom scrollbar

/*width*/
body::-webkit-scrollbar {
  width: 10px;
}

/*track*/
body::-webkit-scrollbar-track {
  background: transparent;
}

/*thumb*/
body::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 20px;
}

/*thumb hover*/
body::-webkit-scrollbar-thumb:hover {
  background: transparent;
  border-radius: 20px;
}

/*thumb pressed*/
body::-webkit-scrollbar-thumb:active {
  background: transparent;
  border-radius: 20px;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #d0d0d0;
}

:is(.dark .dark\:border-neutral-600) {
  --tw-border-opacity: 1;
  border-color: rgb(153 167 183 / var(--tw-border-opacity));
}

.group[data-te-input-state-active]
  .group-data-\[te-input-state-active\]\:border-t-transparent {
  border-top-color: transparent !important;
}

.popup-textarea {
  border-color: red !important;
}

a.active {
  color: #0f0f0f;
  background-color: rgb(243 244 246);

  svg {
    color: rgb(17 24 39);
  }
}

:is(.dark a.active) {
  color: rgb(255 255 255);
  background-color: rgb(55 65 81);
}

header {
  position: relative;
  z-index: 50 !important;
}

.dd-animation-rotate > span {
  transform: rotateX(180deg);
}

#dropdownNotification {
  @media (min-width: 1024px) {
    transform: translate(calc(100vw - 415px), 75px) !important;
  }
}

.notification-decor {
  @media (min-width: 1024px) {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      right: 47px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #f2f2f2;
    }
  }
}

:is(.dark .notification-decor) {
  @media (min-width: 1024px) {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      right: 47px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #323d4b;
    }
  }
}

.info-popup__wrap {
  @media (max-height: 390px) {
    top: 70vh !important;
  }
}

.hint {
  display: none;
  width: 142px;
  text-align: center;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -7px;
    right: 110px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #e0edf9;
  }
}

.user-icon:hover ~ .hint {
  display: block;
}

button[aria-selected] {
  border-bottom-width: 1px;
}

button[aria-selected='true'] {
  color: #1a56db;
  border-color: #1a56db;
}

[multiple]:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='email']:focus,
[type='month']:focus,
[type='number']:focus,
[type='password']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='text']:focus,
[type='time']:focus,
[type='url']:focus,
[type='week']:focus,
select:focus,
textarea:focus {
  --tw-ring-color: transparent !important;
}

.checked\:after\:bg-primary:checked::after {
  background-color: transparent;
}

:is(.dark .dark\:checked\:after\:bg-primary:checked)::after {
  background-color: transparent;
}

.checked\:after\:content-\[\'\'\]:checked::after {
  display: none;
}

.tooltip-icon:hover ~ .tooltip {
  display: block;
}

.tooltip {
  display: none;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -7px;
    right: 26px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #e7e7e7;
  }
}

:is(.dark .tooltip) {
  &:before {
    border-top: 7px solid #323d4b;
  }
}

:is(.dark input:-webkit-autofill) {
  -webkit-box-shadow: 0 0 0px 1000px #1f2a37 inset;
  -webkit-text-fill-color: rgb(190 204 221 / var(--tw-text-opacity)) !important;
}

[data-te-datepicker-toggle-button-ref] {
  svg {
    fill: #4f4f4f;
  }
}

:is(.dark [data-te-datepicker-toggle-button-ref]) {
  svg {
    fill: #beccdd;
  }
}

:is(.dark [data-te-datepicker-header]) {
  background-color: #4b5563 !important;
}

:is(.dark .dark\:bg-zinc-700) {
  background-color: #374151 !important;
}

input[type='checkbox']:focus {
  outline: none;
}

[type='checkbox']:focus,
[type='radio']:focus {
  --tw-ring-shadow: unset;
}

// .checked-tr {
//   background: #f9fafb;
// }
// :is(.dark .checked-tr) {
//   background: #374151;
// }

tbody tr:hover {
  background: #f9fafb;
}
:is(.dark tbody tr:hover) {
  background: #374151;
}

.hint-block {
  font-family: $fontFamilyInter;
}
.hint-icon:hover ~ .hint-block {
  display: block;
}

.hint-block::before {
  content: '';
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  background: #e7e7e7;
  top: -5px;
  left: 3px;
  rotate: 45deg;
}
:is(.dark .hint-block)::before {
  background: #465260;
}
.hint-block-table {
  font-family: $fontFamilyInter;
}
.hint-icon-table:hover ~ .hint-block-table {
  display: block;
}

.hint-block-table::before {
  content: '';
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  background: #e7e7e7;
  top: 35px;
  left: -15px;
  rotate: 45deg;
}
:is(.dark .hint-block-table)::before {
  background: #465260;
}

.edit-color {
  color: #1a56db !important;
}

input[disabled] {
  color: #707e8d;
}
input[disabled] + label {
  color: #8896a5;
}

button[disabled] {
  color: #8896a5;
}
button[disabled] > div {
  color: #8896a5;
}
button[disabled] > span > svg {
  stroke: #d4d4d4;
}
:is(.dark input[disabled]) {
  color: #8593a3;
}
:is(.dark input[disabled] + label) {
  color: #8593a3;
}
:is(.dark button[disabled]) {
  color: #8593a3;
}
:is(.dark button[disabled] > div) {
  color: #8593a3;
}
:is(.dark button[disabled] > span > svg) {
  stroke: #8593a3;
}
textarea:focus {
  border-color: #e5e7eb !important;
}
:is(.dark textarea):focus {
  border-color: #4b5563 !important;
}

.loader {
  height: 100px;
  width: 100px;
  border: 10px solid #e5e7eb;
  border-radius: 50%;
  border-top-color: #1c64f2;
  animation: spin 1s linear infinite;
}

.process-spin {
  animation: process-spin 2s linear infinite;
}

:is(.dark .loader) {
  border: 10px solid #374151;
  border-top-color: #1c64f2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes process-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.confirmation-accordion {
  color: #111928 !important;
}
:is(.dark .confirmation-accordion) {
  color: #ffffff !important;
  background: transparent !important;
}

.change-date-popup-error {
  border: 1px solid #e02424;
}
:is(.dark .change-date-popup-error) {
  border: 1px solid #e02424;
}

#tree-mode button > span {
  display: none !important;
}

#tree-mode button:hover span {
  display: block !important;
}

#tab-tree-btn.active {
  background: #ebf5ff;
  border-color: #1a56db;
  svg {
    fill: #1a56db;
  }
}

:is(.dark #tab-tree-btn.active) {
  background: #233876;
  border-color: #1c64f2;
  svg {
    fill: #1c64f2;
  }
}
#tab-list-btn.active {
  background: #ebf5ff;
  border-color: #1a56db;
  svg {
    stroke: #1a56db;
  }
}

:is(.dark #tab-list-btn.active) {
  background: #233876;
  border-color: #1c64f2;
  svg {
    stroke: #1c64f2;
  }
}

#tab-plate-persona-btn.active {
  background: #ebf5ff;
  border-color: #1a56db;
  svg {
    fill: #1a56db;
  }
}

:is(.dark #tab-plate-persona-btn.active) {
  background: #233876;
  border-color: #1c64f2;
  svg {
    fill: #1c64f2;
  }
}
#tab-list-persona-btn.active {
  background: #ebf5ff;
  border-color: #1a56db;
  svg {
    stroke: #1a56db;
  }
}

:is(.dark #tab-list-persona-btn.active) {
  background: #233876;
  border-color: #1c64f2;
  svg {
    stroke: #1c64f2;
  }
}
