html {
  font-size: 16px;
}

header {
  width: 100%;
}

main {
  flex: 1 0 auto;
  margin-left: 108px;

  &.expand {
    margin-left: 220px;
  }
}

footer {
  flex: 0 0 auto;
}

.body {
  font-family: $fontFamily !important;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: 1.2;
  color: $blackColor;
  overflow-x: hidden;
  height: 100%;
  min-width: 20rem;
  // font-variant-numeric: lining-nums;
  display: grid;
  grid-template-columns: fit-content(220px) 10fr;
  grid-template-rows: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  // overflow: hidden;
}

*::selection {
  color: $blackColor;
  background: $accentColor;
}

// Style fix for input
.group[data-te-input-focused]
  .group-data-\[te-input-focused\]\:shadow-\[0_1px_0_0_\#3b71ca\] {
  --tw-shadow: unset;
}

// Styles for input error validation

.group[data-te-input-notch-ref] div[data-te-input-notch-leading-ref] {
  border-radius: 8px 0 0 8px;
}

.group[data-te-input-notch-ref] div[data-te-input-notch-trailing-ref] {
  border-radius: 0 8px 8px 0;
}

.group[data-te-input-notch-ref] div {
  border-color: #e5e7eb;
}

:is(.dark .dark\:border-neutral-600) {
  --tw-border-opacity: 1;
  border-color: #4b5563 !important;
}

.group[data-te-input-focused] div[data-te-input-notch-middle-ref] {
  border-top-color: transparent !important;
  border-bottom-color: #3b71ca !important;
}

.group[data-te-input-focused].error
  .group-data-\[te-input-focused\]\:border-primary {
  --tw-border-opacity: 1;
  border-color: #f53e3e !important;
}

.group[data-te-input-focused].error
  .group-data-\[te-input-focused\]\:border-t-transparent {
  border-top-color: transparent !important;
}

.peer:focus ~ .peer-focus\:text-primary.error {
  --tw-text-opacity: 1;
  color: #f53e3e;
}

// Custom scrollbar

/*width*/
body::-webkit-scrollbar {
  width: 10px;
}

/*track*/
body::-webkit-scrollbar-track {
  background: transparent;
}

/*thumb*/
body::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 20px;
}

/*thumb hover*/
body::-webkit-scrollbar-thumb:hover {
  background: transparent;
  border-radius: 20px;
}

/*thumb pressed*/
body::-webkit-scrollbar-thumb:active {
  background: transparent;
  border-radius: 20px;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #d0d0d0;
}

:is(.dark .dark\:border-neutral-600) {
  --tw-border-opacity: 1;
  border-color: rgb(153 167 183 / var(--tw-border-opacity));
}

.popup-textarea {
  border-color: red !important;
}

a.active {
  color: #0f0f0f;
  background-color: rgb(243 244 246);

  svg {
    color: rgb(17 24 39);
  }
}

:is(.dark a.active) {
  color: rgb(255 255 255);
  background-color: rgb(55 65 81);
}
