html {
  font-size: 16px;
}

header {
  width: 100%;
}

main {
  flex: 1 0 auto;

  @media (min-width: 1024px) {
    margin-left: 108px;

    &.expand {
      margin-left: 220px;
    }
  }
}

footer {
  flex: 0 0 auto;
}

.body {
  font-family: $fontFamily !important;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: 1.2;
  color: $blackColor;
  overflow-x: hidden;
  height: 100%;
  min-width: 20rem;
  // font-variant-numeric: lining-nums;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: fit-content(220px) 10fr;
    grid-template-rows: 100%;
  }
}

.aside-nav {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

#default-sidebar {
  @media (min-width: 1024px) {
    display: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  // overflow: hidden;
}

*::selection {
  color: $blackColor;
  background: $accentColor;
}

// Style fix for input
.group[data-te-input-focused]
  .group-data-\[te-input-focused\]\:shadow-\[0_1px_0_0_\#3b71ca\] {
  --tw-shadow: unset;
}

// Styles for input error validation

.group[data-te-input-notch-ref] div[data-te-input-notch-leading-ref] {
  border-radius: 8px 0 0 8px;
}

.group[data-te-input-notch-ref] div[data-te-input-notch-trailing-ref] {
  border-radius: 0 8px 8px 0;
}

.group[data-te-input-notch-ref] div {
  border-color: #e5e7eb;
}

:is(.dark .dark\:border-neutral-600) {
  --tw-border-opacity: 1;
  border-color: #4b5563 !important;
}

.group[data-te-input-focused] div[data-te-input-notch-middle-ref] {
  border-top-color: transparent !important;
  border-bottom-color: #3b71ca !important;
}

.group[data-te-input-focused] div[data-te-input-notch-leading-ref] {
  border-top-color: #3b71ca !important;
  border-left-color: #3b71ca !important;
  border-bottom-color: #3b71ca !important;
}

.group[data-te-input-focused] div[data-te-input-notch-trailing-ref] {
  border-top-color: #3b71ca !important;
  border-right-color: #3b71ca !important;
  border-bottom-color: #3b71ca !important;
}

.group[data-te-input-focused].error
  .group-data-\[te-input-focused\]\:border-primary {
  --tw-border-opacity: 1;
  border-color: #f53e3e !important;
}

.group[data-te-input-focused].error
  .group-data-\[te-input-focused\]\:border-t-transparent {
  border-top-color: transparent !important;
}

.peer:focus ~ .peer-focus\:text-primary.error {
  --tw-text-opacity: 1;
  color: #f53e3e;
}

// Custom scrollbar

/*width*/
body::-webkit-scrollbar {
  width: 10px;
}

/*track*/
body::-webkit-scrollbar-track {
  background: transparent;
}

/*thumb*/
body::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 20px;
}

/*thumb hover*/
body::-webkit-scrollbar-thumb:hover {
  background: transparent;
  border-radius: 20px;
}

/*thumb pressed*/
body::-webkit-scrollbar-thumb:active {
  background: transparent;
  border-radius: 20px;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #d0d0d0;
}

:is(.dark .dark\:border-neutral-600) {
  --tw-border-opacity: 1;
  border-color: rgb(153 167 183 / var(--tw-border-opacity));
}

.popup-textarea {
  border-color: red !important;
}

a.active {
  color: #0f0f0f;
  background-color: rgb(243 244 246);

  svg {
    color: rgb(17 24 39);
  }
}

:is(.dark a.active) {
  color: rgb(255 255 255);
  background-color: rgb(55 65 81);
}

header {
  position: relative;
  z-index: 50 !important;
}

.dd-animation-rotate > span {
  transform: rotateX(180deg);
}

#dropdownNotification {
  @media (min-width: 1024px) {
    transform: translate(calc(100vw - 415px), 75px) !important;
  }
}

.notification-decor {
  @media (min-width: 1024px) {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      right: 47px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #f2f2f2;
    }
  }
}

:is(.dark .notification-decor) {
  @media (min-width: 1024px) {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      right: 47px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #323d4b;
    }
  }
}

.info-popup__wrap {
  @media (max-height: 390px) {
    top: 70vh !important;
  }
}

.hint {
  display: none;
  width: 142px;
  text-align: center;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -7px;
    right: 110px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #e0edf9;
  }
}

.user-icon:hover ~ .hint {
  display: block;
}

button[aria-selected] {
  border-bottom-width: 1px;
}

button[aria-selected='true'] {
  color: #1a56db;
  border-color: #1a56db;
}

[multiple]:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='email']:focus,
[type='month']:focus,
[type='number']:focus,
[type='password']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='text']:focus,
[type='time']:focus,
[type='url']:focus,
[type='week']:focus,
select:focus,
textarea:focus {
  --tw-ring-color: transparent !important;
}

.checked\:after\:bg-primary:checked::after {
  background-color: transparent;
}

:is(.dark .dark\:checked\:after\:bg-primary:checked)::after {
  background-color: transparent;
}
